html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /*Prevent horizontal scroll */
    
}

body::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    max-width: 100vw ;
    padding: 0; /* Avoid extra padding causing overflow */
}


.cursor {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#typing-text {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
}

.icon {
    height: 25px;
    width: 25px;
}

.card-body h5 {
    font-size: 0.9rem; /* Adjust text size for "Actively hiring" */
  }
  
  .card-body i {
    font-size: 1rem; /* Adjust icon size */
  }
  
  .card-body a.btn {
    border-radius: 5px; /* Slightly round corners for the button */
  }
  