<div class="container-fluid">
    <h1 class="text-white">Oops! </h1>
    <img src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg" class="img-fluid" alt="img">
</div>

<div class="container-fluid text-white">
    <% if(errorMessage) { %>
        <%= errorMessage %>
    <% } %>
</div>